<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".MyXmlParserDom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MySaxParser">
        </activity>
        <activity android:name=".ExternalStorage">

        </activity>
        <activity android:name=".MyDataManager" />
        <activity android:name=".MyAlarm" />
        <activity android:name=".MyContextMenu" />

        <receiver android:name=".MyReciever" />

        <activity android:name=".MyOptionsMenu" />
        <activity android:name=".MyShareIntentActivity" />
        <activity android:name=".MyIntentActivity2" />
        <activity android:name=".MyIntentActivity1" />
        <activity android:name=".MyTextWatcher" />
        <activity android:name=".MySearchBar" />
        <activity android:name=".MyFragments" />
        <activity android:name=".MyViewStub" />
        <activity android:name=".MyImageSlider" />
        <activity android:name=".MyImageSwitcher" />
        <activity android:name=".MyProgessBarTask" />
        <activity android:name=".MyClock" />
        <activity android:name=".MyTimePicker" />
        <activity android:name=".MyDatePicker" />
        <activity android:name=".MySeekBar" />
        <activity android:name=".MyWebView" />
        <activity android:name=".MyRatingBar" />
        <activity android:name=".MyList" />
        <activity android:name=".MyTextView" />
        <activity android:name=".MySpinner" />
        <activity android:name=".MyExitButton" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>